
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: white;
    background-image: linear-gradient(to right,#B2A4FF,#FFB4B4);
}
.contenu {
    width: 80%;
    padding-left: 25%;
    margin-bottom: 20px;
}
table {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;

}
h1 {
    padding: 40px 0 20px;
}
p {
    color: red;
    padding: 20px 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    text-align: left;
    padding: 8px;
    border: #16213E 1px solid;
}
thead {
    border: 1px solid #533483;
    background-color: #898AA6;
    text-align: center;
    padding: 8px;
}
tbody {
    border: 1px solid #533483;
    background-color: #C9BBCF;
    text-align: center;
    padding: 8px;
} 
.input {
    width: 60%;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    outline: none;
}
label {
    display: inline-block;
    padding: 20px 20px 20px 0;
}
select {
    width: 30%;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 9px;
    text-align: center;
    padding: 8px;
}
.promotion {
    display: flex;
    gap: 20px;
}
.ajouter {
    padding: 12px 50px;
    border-radius: 15px;
    font-size: large;
    color: #FFF9CA;
    background-color: #810955;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
.ajouter:hover {
    color:#810955;
    background-color:#FFF9CA;
    border: none;
    outline: none;
} 
.modifier {
    padding: 12px 50px;
    border-radius: 15px;
    font-size: large;
    color: #FFF9CA;
    background-color: #B270A2;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
.modifier:hover {
    color:#B270A2;
    background-color:#FFF9CA;
    border: none;
    outline: none;
} 
.modifier {
    display: none;
}
#modifi_table {
    padding: 6px 25px;
    border-radius: 10px;
    font-size: large;
    color: #FFF9CA;
    background-color: #B270A2;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
#modifi_table:hover {
    color:#B270A2;
    background-color:#FFF9CA;
    border: none;
    outline: none;
} 
#suprimi_table {
    padding: 6px 25px;
    border-radius: 10px;
    font-size: large;
    color: #FFF9CA;
    background-color: #7A4069;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
#suprimi_table:hover {
    color:#7A4069;
    background-color:#FFF9CA;
    border: none;
    outline: none;
} 
#Oui , #Non {
    margin-right: 10px;
}
.conten-pup {
    background-color: #3B3486;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    top:32%;
    left:32%;
    text-align: center;
    box-shadow:80px 80px 30px 0 #26191969;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "titre titre" "paragraphe paragraphe" "supprimer annule";
    gap:20px;
    display: none;
}
h2 {
    grid-area:titre;
    padding: 20px 0;
}
.parg-pup{
    grid-area:paragraphe;
    padding-bottom: 20px;
    color: white;
}
.pup-supprimer {
    grid-area:supprimer;
    background-color: #7A4069;
    color: #FFF9CA;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
}
.pup-supprimer:hover {
    grid-area: supprimer;
    background-color:#FFF9CA;
    color: #7A4069;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    box-shadow:10px 10px 10px 0 blue;
    transition: 0.5s;
}
.pup-annule {
    background-color: rgb(147, 226, 43);
    color: white;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
}
.pup-annule:hover {
    background-color: rgb(18, 136, 47);
    color: white;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    box-shadow:10px 10px 10px 0 #FFF9CA;
    transition: 0.5s;
}
